<div class="home-container">
    <div class="hero">
      <h1>Bem-vindo ao NaBloguela</h1>
      <p>Seu portal de referência no universo automobilístico.</p>
      <a routerLink="/blog" class="btn">Ver Posts</a>
    </div>
  
    <div class="categories">
      <div class="category-box">
        <div class="category-image">
          <img src="img/mec.jpeg" alt="Como Consertar" />
        </div>
        <h3>⚙️ Como Consertar ⚙️</h3>
        <p>Dicas e tutoriais para manutenção do seu carro.</p>
      </div>
      <div class="category-box">
        <div class="category-image">
          <img src="img/car.jpeg" alt="Carros Tunados" />
        </div>
        <h3> 🔥 Carros Tunados 🔥 </h3>
        <p>Veja os projetos mais insanos de customização.</p>
      </div>
      <div class="category-box">
        <div class="category-image">
          <img src="img/cars.jpeg" alt="Encontros de Carros" />
        </div>
        <h3> 🚗 Encontros de Carros 🚗</h3>
        <p>Participe de encontros e eventos automotivos ao redor do mundo.</p>
      </div>
    </div>
  </div>
  